/*Preset list setting*/
.preset-list {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	border: 1px solid var(--color-base-10);
	box-shadow: inset var(--shadow-stationary);
	padding: 10px;
}

.preset-list-item {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 5px;
	border-top: 1px solid var(--background-modifier-border);
	border-bottom: 1px solid var(--background-modifier-border);
}

.preset-list-item:hover {
	background-color: var(--background-modifier-hover);
}

.mod-danger {
	background-color: var(--background-modifier-error);
	color: var(--text-error);
}

.mod-danger:hover {
	background-color: var(--background-modifier-error-hover);
	color: var(--text-faint);
}

.btn {
	margin: 5px;
}

.btn:disabled {
	background-color: var(--color-base-10) !important;
	color: var(--color-base-60) !important;
	border: none !important;
	box-shadow: none !important;
}

.btn-primary {
	background-color: var(--interactive-accent);
}

.btn-primary:hover {
	background-color: var(--interactive-accent-hover);
}

/*---------------------*/

/*Level Slider setting*/
.level-text {
	max-width: 50px;
	margin: 5px;
}

/*---------------------*/

/*Level aliases list setting*/
.level-aliases-list {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	padding: 10px;
}

.level-aliases-list-item {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 5px;
	border-top: 1px solid var(--background-modifier-border);
	border-bottom: 1px solid var(--background-modifier-border);
}

.level-aliases-list-item-input {
	margin-left: 5px;
	max-width: 80%;
}

/*---------------------*/

/*Preset Modal*/
.preset-modal {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	padding: 10px;
}

.preset-modal-title {
	margin: 5px;
}

.preset-input {
	margin: 5px;
}

.preset-save-btn-group {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
}

/*---------------------*/

/*Save confirm modal*/
.save-confirm-modal{
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	padding: 10px;
}

.save-confirm-modal-title {
}

.save-confirm-modal-text {
	margin: 5px;
}

.save-btn-group {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
}
/*---------------------*/
